<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi plataforma</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>

    <h1 style="text-align:center;">Mi Plataforma de Servicios</h1>

    <nav style="text-align:center; margin-bottom:20px;">
        <a href="/">Registro</a> 
        <a href="/editar-perfil">Editar perfil</a> 
        <a href="/panel">Panel</a>
    </nav>

    <hr>

    {% block contenido %}
    {% endblock %}

</body>
</html>
