{% extends "base.html" %}

{% block contenido %}
<h2>Editar Perfil (Proveedor)</h2>

<form method="POST">
    <input type="text" name="nombre" value="{{ usuario.nombre }}">
    <input type="email" name="email" value="{{ usuario.email }}">
    <input type="text" name="telefono" value="{{ usuario.telefono }}">
    <input type="text" name="zona" value="{{ usuario.zona }}">
    <input type="text" name="rubro" value="{{ usuario.rubro }}">
    <button type="submit">Guardar</button>
</form>
{% endblock %}
