<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>

<body>

<h2>Panel de {{ usuario.nombre }}</h2>

{% if usuario.rol == "proveedor" %}
<a href="/agregar-servicio">Agregar servicio</a>
{% endif %}

<h3>Servicios cargados</h3>

<ul>
    {% for servicio in servicios %}
        <li>{{ servicio.titulo }} - ${{ servicio.precio }}</li>
    {% endfor %}
</ul>

</body>
</html>
