<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Base{% endblock %}</title>
  <link rel="stylesheet" href='{{ url_for('static', filename='css/base.css', external='true') }}'>
  {% block styles %}{% endblock %}
</head>

<body>
  <header class="header">
    <div class="header-top">
      <div class="header-left">
        <a href="{{ url_for('home') }}" class="logo">
          <span class="logo-icon">🤝</span>
          <span class="logo-text">Mercado<br><strong>Servicios</strong></span>
        </a>
        <div class="location">
          <span class="location-icon">📍</span>
          <div>
            <span class="location-label">Servicios De</span>
            <span class="location-text">Toda Argentina</span>
          </div>
        </div>
      </div>

      <div class="header-center">
          <form class="search-form" role="search" action="{{ url_for('servicios.buscar_servicios') }}" method="GET">
            <input 
              type="text" 
              class="search-input" 
              placeholder="Buscar servicios" 
              maxlength="120"
              name="query"
              required
            >
            
            <button type="submit" class="search-btn">🔍</button>
        </form>
      </div>    

      <nav class="header-nav">
        {% if data %}

          <a href="{{ url_for('usuarios.perfil') }}" class="nav-link">Hola, {{ data.user }}</a>

          {% if data.rol == 'proveedor' %}
            <a href="{{ url_for('reservas.mis_reservas') }}" class="nav-link">Calendario</a>
            <a href="{{ url_for('servicios.registrar_servicio') }}" class="nav-link">Registrar servicio</a>
            <a href="{{ url_for('servicios.mis_servicios') }}" class="nav-link end">Mis servicios</a>
          {% endif %}

          {% if data.rol == 'cliente' %}
            <a href="{{ url_for('home') }}#categorias" class="nav-link">Categorías</a>
            <a href="{{ url_for('reservas.mis_reservas') }}" class="nav-link">Reservas Agendadas</a>
          {% endif %}
          
          {% if data.rol == 'admin' %}
            <a href="{{ url_for('servicios.admin_servicios') }}" class="nav-link">Servicios</a>
            <a href="{{ url_for('usuarios.admin_usuarios') }}" class="nav-link end">Usuarios</a>
          {% endif %}
        
        {% else %}
          <a href="{{ url_for('home') }}#categorias" class="nav-link">Categorías</a>
          <a href="{{ url_for('auth.auth') }}" class="nav-link end">Ingresar</a>
        {% endif %}
      </nav>
    </div>
  </header>
  {% block content %}
  {% endblock %}
  
  <footer class="footer">
    <div class="footer-content">
      <div class="footer-section">
        <h3 class="footer-title">Acerca de</h3>
        <ul class="footer-links">
          <li><a href="https://github.com/lautsoria/abierto-ia">Sobre nosotros</a></li>
          <li><a href="https://github.com/lautsoria/abierto-ia">Políticas de privacidad</a></li>
          <li><a href="https://github.com/lautsoria/abierto-ia">Trabaja con nosotros</a></li>
          <li><a href="https://introds-web.vercel.app/">Dónde cursar IDS en fiuba?</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h3 class="footer-title">Ayuda</h3>
        <ul class="footer-links">
          <li><a href="{{ url_for('auth.auth') }}">Cómo reservar</a></li>
          <li><a href="{{ url_for('auth.auth') }}">Cómo ofrecer servicios</a></li>
          <li><a href="https://github.com/lautsoria/abierto-ia">Resolución de problemas</a></li>
          <li><a href="https://github.com/lautsoria/abierto-ia">Centro de seguridad</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h3 class="footer-title">Tu cuenta</h3>
        <ul class="footer-links">
          <li><a href="{{ url_for('auth.auth') }}">Ingresá</a></li>
          <li><a href="{{ url_for('reservas.mis_reservas') }}">Mis reservas</a></li>
          <li><a href="{{ url_for('home') }}#services-section">Destacados</a></li>
          <li><a href="{{ url_for('usuarios.perfil') }}">Perfil</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h3 class="footer-title">Redes sociales</h3>
        <ul class="footer-links">
          <li><a href="https://www.facebook.com/ingenieriauba">Facebook</a></li>
          <li><a href="https://x.com/ingenieriauba">Twitter</a></li>
          <li><a href="https://www.instagram.com/ingenieriauba/?hl=en">Instagram</a></li>
          <li><a href="https://www.youtube.com/user/FIUBAoficial">YouTube</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <p>&copy; 2025 Mercado Servicios. Todos los derechos reservados.</p>
    </div>
  </footer>
  
  {% block scripts %}
  {% endblock %}
</body>
</html>