{% extends "base/base.html" %}
{% block title %}Electricismo{% endblock %}

{% block content %}
<h1 class="principal">Servicios de Electricismo</h1>
<p class="intro"> Encuentra los mejores servicios de electricismo para tu hogar o negocio. Nuestros profesionales están listos para ayudarte con instalaciones, reparaciones y mantenimiento eléctrico.</p>


<div class="mejores-trabajadores">
  <h1 class="add">Nuestros mejores trabajadores</h1>
  <div class="container">
    
		<div class="tarjeta" id="trabj1"><h3>Juan Cruz</h3></div>
		<div class="tarjeta" id="trabj2"><h3>Maria Jose</h3></div>
		<div class="tarjeta" id="trabj3"><h3>Diego Pérez</h3></div>
		<div class="tarjeta" id="trabj4"><h3>Juliana Roldán</h3></div>
		<div class="tarjeta" id="trabj5"><h3>Luis Ocampo</h3></div>
		<div class="tarjeta" id="trabj6"><h3>Marcela Avalos</h3></div>
		<div class="tarjeta" id="trabj7"><h3>Adrián Torres</h3></div>
		<div class="tarjeta" id="trabj8"><h3>Daniela Correa</h3></div>
</div>


{% endblock %}