<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href='{{ url_for('static', filename='css/register.css', external='true') }}'>
  <title>Login</title>
</head>

<body>
<div class="Formulario" >
    <div class="flip-card" id="flipCard">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <form id="loginForm"action="{{ url_for('Loguin') }}" method="POST">

                
                <h1>Login</h1>
                <input type="text" id="nombre" name="fnombre" placeholder="Nombre de usuario" required>
                <input type="password" id="Contraseña" name="fcontraseña" placeholder="Contraseña" required>
                <div style="position: relative;">
                    
                        <input type="checkbox" id="recordarContraseña">
                    
                    <label for="recordarContraseña">Recordar Constraseña</label>
                    <div class="password-toggle" onclick="togglePasswordVisibility()">

                        
                    </div>
                </div>
                <button type= "submit">Iniciar Sesion</button>

            </form>
            <span class="toggle-text" id="Registertext">Registrarse</span>
            </div>
            <div class="flip-card-back">
                <form id="registerForm" action="{{ url_for('registro') }}" method="POST">
                <h1 >Registrate</h1>
                <input type="text" id="newUsername" name="fnewUsername" placeholder="Nombre de usuario" required>
                <input type="email" id="email" name="femail" placeholder="Correo electrónico" required>
                <input type="password" id="newpassword" name="fnewpassword" placeholder="Contraseña" required>
                <div id="inputsusuario" class="extra-inputs hidden">
                    <input type="text" id="newDirección" name="fnewDirección" placeholder="Dirección: " required>
                    <input type="Edad" id="newEdad" name="fnewEdad" placeholder="Edad: " required>
                </div>
                <div id="inputsprestador" class="extra-inputs hidden">
                    <input type="text" id="newServicios" name="fnewServicios" placeholder="Servicios: " required>
                    <input type="Empresa" id="newEmpresa" name="fnewEmpresa" placeholder="Empresa: " required>
                </div>

                </a>
                <button type="submit" id="botonRegistro">Registrarse</button>
                </form>
                <span class="toggle-text" id="loginText">volver al <strong class="resaltado">Inicio de Sesion</strong></span>
            </div>
            
                
            
        </div>
    </div>
    
</div>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
